.service-containerP {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.service-containerP:hover .service-cardP:not(:hover) {
    transform: scale(0.95);
    opacity: 0.7;
}

.service-cardP {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 30PX;
    padding: 10px; 
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out; /* אנימציה חלקה */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-cardP:hover {
    transform: scale(1.05); /* הגדלה של 5% */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.service-cardP img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial;
    font-size: 20px;
    color: #333;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media  screen and (min-width: 321px) and (max-width:960px){

    .service-cardP {
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 720px){
    .service-cardP {
        width: 300px;
        height: 300px;
    }
    .service-title {
        color: white;
        font-size: 50px;
        font-weight: bold;
        line-height: 1.5;
    }
}

